<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Google Places</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Google Places Search</h1>
    <a href='/'>Home</a>
    <a href='/places'>Search for places</a>
    <a href='/users/new'>Users</a>

    {{{body}}}

    <div class="modal">
      <!-- Place at bottom of page -->
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/js/script.js" charset="utf-8"></script>
  </body>
</html>
