<h2 id="textChange">Search for places</h2>

<form id="placeSearch" action="#" method="post">
  <label for="keyword">Search</label>
  <input type="text" name="keyword" id="keyword">
  {{!-- <input type="submit" value="Search"> --}}
  <button>Search</button>
</form>
<ul class='placeList'>
</ul>
