<h2>Creating new users</h2>

<form action="/users" method="post" id='newUserForm'>
  <label>
    <input type="text" name="user[name]" placeholder="Submit your name">
  </label>
  <label>
    <input type="text" name="user[email]" placeholder="Submit your email">
  </label>
  <label>
    <input type="text" name="user[password]" placeholder="Submit your password">
  </label>

  <button id='createButton'>Submit</button>
</form>
